{{ attach_library('subscription/subscription') }}
<h1>Subscription</h1>

<button
  id="subscribe"
  class="use-ajax"
  data-dialog-options="{&quot;width&quot;:400}"
  data-dialog-type="modal"
  href="/subscription-form"
>Subscribe</button>
